PORT=8004
JWT_SECRET=@--$%^^SECRET^^%$--@ 

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=microservice-blog-files
MINIO_USE_SSL=false