

PORT=8003

DB_NAME=microservice-blog-users
DB_PASSWORD=root
# MONGO_URI=mongodb://127.0.0.1:27017/microservice-blog-users

JWT_SECRET=***
JWT_SECRET_EXPIRES_IN=30m

JWT_REFRESH_SECRET=***
JWT_REFRESH_SECRET_EXPIRES_IN=7d

NODE_ENV=development


